<!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-default bg-secondary navbar-dark">
        <div class="container">
          <div class="px-2 py-1 p-lg-0 d-flex justify-content-between w-100 w-lg-0">
          <span class="text-white d-lg-none">Menu</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Home
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./index.html">Home</a></li>
                  <li><a class=" dropdown-item" href="./index-2.html">Home v.2</a></li>
                  <li><a class=" dropdown-item" href="./index-3.html">Home v.3</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./about-us.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Repair Service
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./service-listing-icon.html">Service List Icon</a></li>
                  <li><a class=" dropdown-item" href="./service-listing-image.html">Service With Image</a></li>
                  <li><a class=" dropdown-item" href="./pc-mac-single-page.html">Service With Full Width</a></li>
                  <li><a class=" dropdown-item" href="./laptop-sidenav.html">Service With Sidebar</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  News
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./blog-default.html">Blog Default</a></li>
                  <li><a class=" dropdown-item" href="./blog-detail.html">Blog Detail</a></li>
                  <li><a class=" dropdown-item" href="./blog-two-columns.html">Blog Two Column</a></li>
                  <li><a class=" dropdown-item" href="./blog-two-column-sidebar.html">Blog Two Column-Sidebar</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Feature
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./faq-listing.html">Faq's</a></li>
                  <li><a class=" dropdown-item" href="./Pricing-v-1.html">Pricing</a></li>
                  <li><a class=" dropdown-item" href="./franchising.html">Frenchise</a></li>
                  <li><a class=" dropdown-item" href="./feedback.html">Feedback</a></li>
                  <li><a class=" dropdown-item" href="./repair-team.html">Team</a></li>
                  <li><a class=" dropdown-item" href="./Career.html">Career</a></li>
                  <li><a class=" dropdown-item" href="./error-page.html">404 Error</a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Contact
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./contactus.html">Contact Us</a></li>
                  <li><a class=" dropdown-item" href="./appointment.html">Appointment</a></li>
                  <li class="dropdown-submenu dropend">
                    <a class="dropdown-item dropdown-toggle" href="#">
                      Location
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="./location.html">
                          Location</a>
                      </li>
                      <li>
                        <a class="dropdown-item"
                          href="./location-single.html">
                          Single</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Gallery
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./gallery-filterable.html">Filterablde + Zoom</a></li>


                  <li><a class=" dropdown-item" href="./gallery-4-column.html">4 Column + zoom</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Docs
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./docs/index.html">Documentation</a></li>
                  <li><a class="dropdown-item" href="./docs/changelog.html">Changelog</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </nav>
      <!-- navbar -->